*{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
  width: content-box;
}

.background_block {
  width: 1236px;
  font-size: 0;
  background-color:bisque;
}

.card {
  display: inline-block;
  width: 400px;
  height: 250px;
  font-size: 20px;
  line-height: 50px;
  color: aliceblue;
  margin: 6px;
  padding: 20px;
  border-radius: 10px; 
  overflow: hidden;
}
.red_card {
  background: rgb(244,160,160);
  background: linear-gradient(90deg, rgba(244,160,1)0%, rgba(244,5,5,1) 100%, rgba(2,0,36,1) 100%);
  
}

.blue_card {
  background: rgb(93,109,231);
  background: linear-gradient(90deg, rgba(93,109,231,1) 0%, rgba(3,11,159,1) 100%, rgba(2,0,36,1) 100%);
  

}

.green_card {
  background: rgb(107,231,115);
  background: linear-gradient(90deg, rgba(107,231,115,1) 0%, rgba(5,138,27,1) 100%, rgba(2,0,36,1) 100%);
  
}

.circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.163);
}
.circle_pos {
  position: relative;
  top: -200px;
  left: 240px;
  
}

.circle2_pos {
  position: relative;
  top: -270px;
  left: 180px;
}

.icon {
  position: relative;
  top: 6%;
  left: 50%;
}

.card-name {
  position: relative;
  top: 5%;
}

.sum {
  position: relative;
  font-size: 1.6rem;
  font-weight: bold; 
}

.interest-rate {
  position: relative;
  top: 15%;
}