*{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 1000px;
}

.background_block {
  font-size: 0;
}
.red_card {
  display: inline-block;
  width: 32%;
  font-size: 20px;
  line-height: 50px;
  color: aliceblue;
  margin: 0 6px;
  padding: 20px;
  border: 5px solid bisque;
  border-radius: 10px; 
  background: rgb(244,160,160);
  background: linear-gradient(90deg, rgba(244,160,1)0%, rgba(244,5,5,1) 100%, rgba(2,0,36,1) 100%);
}

.blue_card {
  display: inline-block;
  width: 32%;
  font-size: 20px;
  color: aliceblue;
  margin: 0 6px;
  padding: 20px;
  border: 5px solid bisque;
  border-radius: 10px; 
  background: rgb(93,109,231);
  background: linear-gradient(90deg, rgba(93,109,231,1) 0%, rgba(3,11,159,1) 100%, rgba(2,0,36,1) 100%);

}

.green_card {
  display: inline-block;
  width: 32%;
  font-size: 20px;
  color: aliceblue;
  margin: 0 6px;
  padding: 20px;
  border: 5px solid bisque;
  border-radius: 10px; 
  background: rgb(107,231,115);
  background: linear-gradient(90deg, rgba(107,231,115,1) 0%, rgba(5,138,27,1) 100%, rgba(2,0,36,1) 100%);
}

.fit_icon {
  height: 20px;
  color: white;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.163);
}